<!DOCTYPE html>
<body>
  <h1>The Invention of Intention</h1>
  <!-- loop through the keys of an object, use those keys on each instance of blog and use those instances attributes t populate the page -->
  <ul>
    <% Object.keys(posts).forEach(function(key){ %>
  <li><a href="/post/<%= posts[key].id %>"><%= posts[key].title %></a>, blog entry number: <%= posts[key].id %></li><% }) %>
  </ul>
  <a href="/posts/new">Add a new post</a>
</body>
</html>