<!DOCTYPE html>
<body>
  <h1>The Blog about stuff</h1>
  <!-- loop through the keys of an object, use those keys on each instance of blog and use those instances attributes t populate the page -->
  <ul>
    <% for(var i = 0; i < posts.length; i++){ %>
    <li><a href="/post/<%= posts[i].id %>"><%= posts[i].title %></a>, blog entry number: <%= posts[i].id %></li>
    <% } %>
  </ul>
  <a href="/posts/new">Add a new post</a>
</body>
</html>
